.gallery { display: flex;}
.gallery .galleryHome { flex: 1; }

.gallery .galleryContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}

.galleryPost {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}