.widgets2 { display: flex;}
.widgets2 .widgets2Home { flex: 1; }

.widgets2 .widgets2Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}