.sidebar {
        width: 230px;       
        min-height: 100vh;
        border-right: 0.5px solid rgb(230, 227, 227);
        top: 0;
        left: 0;
        box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%), 0px 1px 4px rgb(0 0 0 / 8%);
}

hr {
    height: 0;
    border: 0.5px solid rgb(230,227,227);
}

.sidebar .top {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.sidebar .top .logo {
    font-size: 25px;
    font-weight: bold;
    color: #6439ff ;
}

.sidebar .center {
   padding-left: auto;
   cursor: pointer;
}

.sidebar .center ul{
    list-style: none;
    margin: 0;
 }

 .sidebar .center ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition:  all 0.5s ease;
 }

 .sidebar .center ul li:hover{ 
    background-color: #ece8ff;
    padding: 2px;
    border-radius: 7px;
 }

 .sidebar .center ul li a{ 
   text-decoration: none; /* Yazı Alt ve Üst Çizgileri Kaldırıyor */
}

 .sidebar .center ul li .icon{
    font-size: 20px;
    color: #7451f8;
 }

 .sidebar .center ul li span{
    font-size: 15px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
 }


 .sidebar .center ul .title{
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    margin-top: 10px;
    margin-bottom: 5px;
 }

 .bottom{
     display: flex;
     align-items: center;
     gap: 10px;
     margin-left: 14px;
     margin-top: 10px;
 }


 .bottom .colorOptions{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
}

.bottom .colorOptions:nth-child(1){ background-color: whitesmoke }
.bottom .colorOptions:nth-child(2){ background-color: #333 }
.bottom .colorOptions:nth-child(3){ background-color: darkblue }
