.widgets { display: flex;}
.widgets .widgetsHome { flex: 1; }

.widgets .widgetsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}